body{
  -webkit-animation: changeBg 50s infinite;
  height:100%;
}

header{
  width: 100%;
  margin-top: 50px;
  background-color: rgba(23, 63, 115, 0.75)
}

button{
    margin-top: 5%;
    margin-bottom: 2%;
  }

.App {
  text-align: center;
}

@-webkit-keyframes changeBg
{
   0%   {background-image: url("./assets/scenicNature.png");}
   20%  {background-image: url("./assets/cliffside.png");}
   40%  {background-image: url("./assets/fallBoat.png");}
   60% {background-image: url("./assets/sunset.png");}
   80% {background-image: url("./assets/cherryBlossoms.png");}
   100% {background-image: url("./assets/city.png");}
}


